<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-center align-items-center">
    <p class="text-muted fs-5">By Oladunni <span>&copy; 2023</span></p>
    
  </div>
</footer>
