<nav>
  <div class="navigation-container">
    <ul class="list-container no-display">
      <div class="nav-main">
        <a class="d-flex justify-content-center align-items-center" href="/">
          <i class="material-symbols-outlined mx-2"> home </i>
          Home
        </a>

        <a
          class="d-flex justify-content-center align-items-center <%= currentPage === '/' ? 'active-li' : '' %>"
          href="/locations"
        >
          <i class="material-symbols-outlined mx-2"> pin_drop </i>
          All Locations
        </a>

        <a class="d-flex justify-content-center align-items-center" href="/movies">
          <i class="material-symbols-outlined mx-2"> theaters </i>
          Explore Movies
        </a>
      </div>

      <div class="nav-auth">
        <% if(!currentUser) {%>
        <a
          class="d-flex justify-content-center align-items-center <%= currentPage === '/login' ? 'active-li' : '' %>"
          href="/login"
        >
          <i class="material-symbols-outlined mx-2"> login </i>
          Login
        </a>

        <a
          class="d-flex justify-content-center align-items-center <%= currentPage === '/register' ? 'active-li' : '' %>"
          href="/register"
        >
          <i class="material-symbols-outlined mx-2"> how_to_reg </i>
          Register
        </a>
        <% } else {%>

        <a class="d-flex justify-content-center align-items-center" href="/logout">
          <i class="material-symbols-outlined mx-2"> logout </i>
          Logout
        </a>
        <% } %>
      </div>
    </ul>

    <div class="hamburger-menu" id="hamburger">
      <i class="material-symbols-outlined icon-size hamburger-item"> menu </i>
    </div>
  </div>
</nav>
