<nav>
  <div class="navigation-container">
    <ul class="list-container no-display">
      <div class="nav-main">
        <a href="/">Home</a>
        <a class=" <%= currentPage === '/' ? 'active-li' : '' %>" href="/campgrounds">All Locations</a>
        <a href="/movies">Explore Movies</a>
      </div>

      <div class="nav-auth">
        <% if(!currentUser) {%>
        <a class=" <%= currentPage === '/login' ? 'active-li' : '' %>" href="/login">Login</a>
        <a class=" <%= currentPage === '/register' ? 'active-li' : '' %>" href="/register">Register</a>
        <% } else {%>
        <a href="/logout">Logout</a>
        <% } %>
      </div>
    </ul>

    <div class="hamburger-menu" id="hamburger">
      <i class="material-symbols-outlined icon-size hamburger-item"> menu </i>
    </div>
  </div>
</nav>