<aside class="sidebar-container no-display" id="sidebar">
  <!-- <div class="close" id="close"><i class="material-symbols-outlined fw-bolder fs-2"> close </i></div> -->
  <nav class="items-container">
    <ul class="link-items">
      <li class="items"><a href="/">Home</a></li>
      <li class="items"><a href="/movies">Movies</a></li>
      <li class="items"><a href="#">Tv Series</a></li>
      <li class="items"><a href="#">Kids</a></li>
      <li class="items"><a href="#">Wishlists</a></li>
    </ul>
  </nav>
</aside>
