<aside class="sidebar-container">
  <nav class="items-container">
    <ul class="link-items">
      <li class="items"><a href="#">Home</a></li>
      <li class="items"><a href="#">Movies</a></li>
      <li class="items"><a href="#">Tv Series</a></li>
      <li class="items"><a href="#">Kids</a></li>
    </ul>
  </nav>
</aside>
