html{
    overflow-x: hidden;
}

.items-container{
    width: 100vw;
    display: flex;
    padding: 0 4%;
}

.wrapper-1, .wrapper-2{
    width: 50%;
    margin: 0 2%;
}

.wrapper-2{
    max-height: 60vh;
    overflow-y: auto;
}

.login, .register {
    min-height: 100vh;
    background: url("../../images/world.jpg");
    background-size: cover;
    color: #fff;
    animation: slideshow 60s infinite ease-in;
}

@keyframes slideshow {
    20% {
        background: url("../../images/world.jpg") no-repeat;
        background-size: cover;
    }

    80% {
        background: url("../../images/world2.jpg") no-repeat;
        background-size: cover;
    }

    90% {
        background: url("../../images/login-bg.jpg") no-repeat;
        background-size: cover;
    }
}

.customized-card {
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
    /* width: 500px; */
}

.to-signup, .to-login {
    background-color: #76c1cc;
    padding: 2% 8%;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}

.to-signup:hover, .to-login:hover {
    background-color: #76c1cc;
    border: none;
    transform: translateY(10%);
    transition: transform .8s ease;
}

@media screen and (min-width: 1024px) {
    .customized-card {
        width: 500px;
    }

    .wrapper-2{
        max-height: 120vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1023px) {
    .items {
        width: 500px;
    }

    .wrapper-2{
        max-height: 65vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 767px) {
    .items {
        width: 400px;
    }

    .items-container{
        flex-direction: column;
    }

    .wrapper-1, .wrapper-2{
        width: 100%;
    }

    .wrapper-2{
        max-height: 100vh;
        overflow-y: auto;
    }
}