.login, .register {
    min-height: 100vh;
    background: url("../../images/login-bg.jpg");
    background-size: cover;
    color: #fff;
}

.customized-card {
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
    /* width: 500px; */
}

.to-signup, .to-login {
    background-color: #76c1cc;
    padding: 2% 8%;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}

.to-signup:hover, .to-login:hover {
    background-color: #76c1cc;
    border: none;
    transform: translateY(10%);
    transition: transform .8s ease;
}

@media screen and (min-width: 1024px) {
    .customized-card {
        width: 500px;
    }
}

@media screen and (max-width: 1023px) {
    .items {
        width: 500px;
    }
}

@media screen and (max-width: 767px) {
    .items {
        width: 400px;
    }
}