.main-body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: url("../../images/1.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 20px;
    animation: slideshow 200s infinite ease-in;
}

@keyframes slideshow {
    0% {
        background: url("../../images/1.jpg") no-repeat;
        background-size: cover;
    }

    10% {
        background: url("../../images/2.jpg") no-repeat;
        background-size: cover;
    }

    30% {
        background: url("../../images/3.jpg") no-repeat;
        background-size: cover;
    }

    40% {
        background: url("../../images/4.jpg") no-repeat;
        background-size: cover;
    }

    50% {
        background: url("../../images/5.jpg") no-repeat;
        background-size: cover;
    }

    70% {
        background: url("../../images/6.jpg") no-repeat;
        background-size: cover;
    }

    90% {
        background: url("../../images/7.jpg") no-repeat;
        background-size: cover;
    }
}

.homepage-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.screen-message {
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 2%;
    width: 50%;
}

.screen-message>h1 {
    color: aliceblue;
    font-size: 4rem;
    margin-bottom: -2%;
}

.screen-message>.p1 {
    color: aliceblue;
    font-size: 2rem;
}

.screen-message>.home-button {
    background-color: transparent;
    padding: 2% 2%;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 2rem;
    cursor: pointer;
}

.active-session-btn>.home-button {
    background-color: transparent;
    padding: 2% 2%;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 2%;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.screen-message>.home-button:hover {
    background-color: #92c7f5;
    border: none;
}

.active-session-btn>.home-button:hover {
    background-color: #92c7f5;
    border: none;
}

.active-session-btn{
    display: flex;
}

@media screen and (max-width: 767px) {
    .screen-message {
        width: 100%;
    }
}