body {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.button, .button-x {
    background-color: #76c1cc;
    color: #fff;
    padding: 2% 8%;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 0.8rem;
}

.button{
    width: auto;
    display: inline-block;
}

.button:hover {
    color: #fff;
    transform: translateY(10%) !important;
    transition: transform .5s ease-in !important;
}

.button-map {
    color: #76c1cc;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
}

.button-map:hover {
    color: #76c1cc;
}

.button-x:hover {
    color: #fff;
    transform: none;
    transition: none;
}

.link-button {
    background-color: transparent;
    color: #76c1cc;
    cursor: pointer;
    text-decoration: none;
    padding: 2%;
    display:  flex;
    align-items: center;
}

.link-button:hover {
    background-color: transparent;
    color: #76c1cc;
}

#load-more {
    border: 1px solid aliceblue;
    border-radius: 2rem;
    padding: 2% 16%;
    background-color: transparent;
    color: #76c1cc;
    margin: 0 4%;
}

.sweet-alert-btn {
    background: none !important;
    background-color: #76c1cc !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

.disabled-pointer {
    cursor: not-allowed;
    opacity: 0.2;
}

.review-container {
    height: 150vh;
    overflow-y: auto;
}

.search-container {
    position: fixed;
    bottom: 10%;
    left: 80%;
    color: #76c1cc;
    cursor: pointer;
    display: inline-block;

}

.input-group {
    width: auto !important;
    transition: all .8s ease;
}

.no-view, .no-view1{
    display: none;
}

.search-section {
    width: 80%;
    height: 80vh;
    overflow-y: auto;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 2px 10px 3px #00a2ad, -3px 5px 10px 4px #dbdbdb;
}

.mapboxgl-popup-close-button {
    background-color: #f70c0c;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.mapboxgl-popup-close-button:hover {
    background-color: #f70c0c;
}

.mapboxgl-popup-close-button:active {
    background-color: #f70c0c;
}

.row{
    margin: 2% 0 !important;
}



@media screen and (min-width: 1024px) {
    .review-container {
        height: 150vh;
        overflow-y: auto;
    }

    .search-icon{
        position: fixed;
        right: 5%;
    }
}

@media screen and (max-width: 1023px) {
    .review-container {
        height: 60vh;
        overflow-y: auto;
    }

    .search-icon{
        position: fixed;
        right: 8%;
    }

    .search-container {
        left: 75%;
    }
}

@media screen and (max-width: 767px) {
    .review-container {
        height: 80vh;
        overflow-y: auto;
    }

    .search-container {
        width: 60%;
        left: 32%;
    }

    .search-icon{
        position: fixed;
        right: 10%;
    }

    .search-section {
        width: 95%;
        height: 95vh;
        top: 2%;
        transform: translate(2%);
    }

    .button{
        width: 80%;
    }
}