body {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.button {
    background-color: #76c1cc;
    color: #fff;
    padding: 2% 8%;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 0.8rem;
}

.button:hover {
    color: #fff;
    transform: translateY(10%) !important;
    transition: transform .5s ease-in !important;
}

#load-more {
    border: 1px solid aliceblue;
    border-radius: 2rem;
    padding: 2% 16%;
    background-color: transparent;
    color: #76c1cc;
    margin: 0 4%;
}

.sweet-alert-btn {
    background: none !important;
    background-color: #76c1cc !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

.disabled-pointer {
    cursor: not-allowed;
    opacity: 0.2;
}

.review-container {
    height: 150vh;
    overflow-y: auto;
}

@media screen and (min-width: 1024px) {
    .review-container {
        height: 150vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1023px) {
    .review-container {
        height: 60vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 767px) {
    .review-container {
        height: 80vh;
        overflow-y: auto;
    }
}