.sidebar-container {
    width: 30%;
    height: 100vh;
    background-color: #585555;
    position: fixed;
    overflow-y: auto;
    /* background: linear-gradient(155deg, #585555 0%, #a4a 250%); */
}

.items-container {
    padding: 2% 2%;
    height: 100%;
}

.link-items {
    font-size: 2rem;
    padding: 8% 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.items {
    text-decoration: none;
    color: #76c1cc;
    list-style: none;
    margin: 2% 0%;
    padding: 4% 8%;
}

.items:hover {
    background-color: #a1a1a1;
    color: #fff;
    cursor: pointer;
}

.hamburger-menu {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 2;
    color: #76c1cc;
    font-weight: 700;
    margin: 0 4%;
}

.hamburger-menu {
    display: none;
}

.no-display {
    display: none;
}

.icon-size {
    font-size: 3rem !important;
}

.active-li {
    border-left: 2px solid #a4a7aa;
}

@media screen and (min-width: 1024px) {
    .no-display {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .no-display {
        display: block;
    }
}


@media screen and (max-width: 767px) {
    .sidebar-container {
        width: 80%;
        height: 100%;
        z-index: 5;
        transition: transform 0.8s ease;
        transform: translateX(0%);
    }

    .sidebar-container>.close {
        position: absolute;
        top: 0;
        right: 2%;
        /* font-size: 2rem; */
    }

    .no-display {
        transition: transform 0.8s ease;
        transform: translateX(-100%);
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        left: 80%;
        top: 0%;
    }

}