<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/general/index.css" />
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script type="module" src="/Javascripts/typewriter.js"></script>
    <title>Document</title>
  </head>
  <body class="main-body">
    <main class="homepage-contents">
      <div class="screen-message">
        <h1>Truth 360</h1>
        <p class="p1" id="type-text"></p>
        <% if(!currentUser){%>
        <button class="home-button">Get Started</button>
        <% }else{ %>
        <div class="active-session-btn">
          <a class="home-button" href="/movies">Explore Movies</a>
          <a class="home-button" href="/campgrounds">Explore Locations</a>
          <button class="home-button" id="logout">Logout</button>
        </div>
        <%}%>
      </div>
    </main>
  </body>
</html>
