<%- layout("/layouts/boilerplate2.ejs") %>

<header class="upcoming-series">
  <div class="hamburger-menu" id="hamburger">
    <i class="material-symbols-outlined icon-size hamburger-item"> menu </i>
  </div>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <h1 class="top">Upcoming Movies</h1>
      <% for (let i = 0; i < data1.length; i++) { %>
      <div
        class="carousel-item <%= i === 0 ? 'active' : '' %>"
        data-bs-interval="3000"
      >
        <img
          src="https://image.tmdb.org/t/p/original<%= data1[i].poster_path %>"
          class="d-block w-100 image"
          alt="..."
        />
        <div class="button-container">
          <form action="" class="form mx-4">
            <button class="button fw-bolder d-flex">
              <span class="material-symbols-outlined"> add </span>
              Wishlist
            </button>
          </form>

          <form action="" class="form mx-4">
            <button class="button fw-bolder d-flex">
              <span class="material-symbols-outlined"> star </span>
              Review
            </button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="search-container">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search movie"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button class="button" type="button" id="button-addon2">Search</button>
    </div>
  </div>
</header>
