<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/general/event-styles.css" />

<div
  class="register d-flex justify-content-center align-items-center"
>
  <div class="items row">
    <div class="col-md-12 col-xl-12">
      <div class="card shadow customized-card">
        <div class="card-body">
          <h1 class="card-title">Register</h1>
          <form
            action="/register"
            method="post"
            class="un-validated"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">E-mail</label>
              <input
                class="form-control"
                type="email"
                id="mail"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
            </div>
            <button class="btn btn-success">Register</button>
          </form>
          <p class="mt-2">
            Have an account? <button class="to-login">Login</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const button = document.querySelector(".to-login");
  button.addEventListener("click", () => (window.location.href = "/login"));
</script>
